.editor-wrapper{
    background:#f3f4f6;
    border-radius:12px;
    overflow:hidden;
}

/* =========================
   PROSEMIRROR
========================= */

.ProseMirror{
    outline:none;
    min-height:900px;

    font-family:"Times New Roman", serif;
    font-size:12pt;
    line-height:1;
    color:#000;
}

/* =========================
   PARAGRAPH
========================= */

.ProseMirror p{
    margin:0;
    line-height:1;
    text-align:justify;
}

/* =========================
   HEADING
========================= */

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3{
    margin:0;
    font-weight:bold;
    line-height:1;
}

/* =========================
   LIST
========================= */

.ProseMirror ul,
.ProseMirror ol{
    margin:12pt 0;
    padding-left:28px;
}

/* =========================
   TABLE
========================= */
.ProseMirror table{
    border-collapse:collapse;
    margin:12pt 0 18pt;
    margin-left:28px;
    width:auto;
}

.ProseMirror td{
    padding:1px 0;
    vertical-align:top;
}

.ProseMirror td:nth-child(1){
    width:3.9cm;
    white-space:nowrap;
}

.ProseMirror td:nth-child(2){
    width:.35cm;
    text-align:center;
}

.ProseMirror td:nth-child(3){
    text-align:left;
}

/* =========================
   IDENTITAS
========================= */

.ProseMirror .identitas{
    width:100%;
    border-collapse:collapse;
    margin:12pt 0 18pt;
    margin-left:28px;

    font-family:"Times New Roman", serif;
    font-size:12pt;
    line-height:1.35;
}

.ProseMirror .identitas td{
    padding:1px 0;
    vertical-align:top;
}

.ProseMirror .identitas td:nth-child(1){
    width:3.9cm;
    white-space:nowrap;
}

.ProseMirror .identitas td:nth-child(2){
    width:.35cm;
    text-align:center;
}

.ProseMirror .identitas td:nth-child(3){
    text-align:left;
}

/* =========================
   IMAGE
========================= */

.ProseMirror img{
    max-width:100%;
    height:auto;
}

/* =========================
   FOCUS
========================= */

.ProseMirror:focus{
    outline:none;
}
.edit-surat-layout{
    display:grid;
    grid-template-columns:360px 1fr;
    gap:24px;
    align-items:start;
}

.edit-surat-sidebar{
    position:sticky;
    top:20px;
}

.edit-surat-preview{
    min-width:0;
}